:root {
  --gold-linear: linear-gradient(120deg, #fea36f, #062630 50%);
}

/* header styles */
.pattern-bg {
  padding: 32px 0 80px;
  background-color: #faf5f3;
  background-image: url("../images/bg-pattern.png");
  position: relative;
  overflow: hidden;
}
.pattern-bg::after {
  content: "";
  position: absolute;
  right: -472px;
  bottom: -240px;
  width: 684px;
  height: 684px;
  background: #9cc9da;
  filter: blur(200px);
  border-radius: 50%;
  opacity: 60%;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  max-width: 1184px;
  margin: 0px auto 80px;
}
.section-1 {
  display: flex;
  align-items: center;
  max-width: 1174px;
  margin: 0 auto;
  gap: 64px;
}
.review-btn {
  padding: 20.5px 24px;
  max-width: 380px;
  border: 2px solid #062630;
  border-radius: 8px;
  background-color: #fff5ef;
}
.person-reviews {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.persons img {
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  margin-left: -10px;
}
.persons img:first-child {
  margin-left: 0;
}
.star-icons {
  margin-bottom: 4px;
}
.section-1-right img {
  border-radius: 5px;
  z-index: 2;
}

/* section-2 styles */
.sec-2 {
  padding: 120px;
}
.section-2 {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
}
.section-2-left img,
.section-3-right img {
  border-radius: 15px;
}

/* section 3 styles */
.section-3 {
  max-width: 1170px;
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.oval {
  position: relative;
}
.oval::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 158px;
  height: 68px;
  background: url("../images/oval-vector-orange.svg") no-repeat center;
  background-size: contain;
}
.section-3-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 31px;
  width: 119.56px;
  height: 138px;
}
.icon {
  position: absolute;
}
.ts {
  top: 0;
  left: 20px;
}
.react {
  bottom: 12px;
  right: 0;
}
.github {
  left: 0;
  bottom: 0;
}

/* section 4 styles */
.sec-4 {
  padding: 120px;
}
.section-4 {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 60px 70px 60px;
  border-radius: 12px;
  background-color: #faf5f3;
  background-image: url("../images/bg-pattern.png");
  position: relative;
  overflow: hidden;
}
.section-4::after {
    content: "";
    position: absolute;
    right: -312px;
    bottom: -389.98px;
    width: 684px;
    height: 684px;
    background: #9cc9da;
    filter: blur(200px);
    border-radius: 50%;
    opacity: 60%;
  }
.section-4-wrap {
  display: flex;
  gap: 48px;
  margin-top: 64px;
}
.wrap {
  width: 226.5px;
  position: relative;
}
.wrap h2 {
  border: 2px solid #062630;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  padding: 8.5px 13.5px;
  margin-bottom: 24px;
}
.wrap img {
  position: absolute;
  top: 0;
  right: 0;
}
