:root {
  --gold-linear: linear-gradient(120deg, #fea36f, #062630 50%);
}

/* header styles */
.pattern-bg {
  padding: 32px 0 80px;
  background-color: #faf5f3;
  background-image: url("../images/bg-pattern.png");
  position: relative;
  overflow: hidden;
}
.pattern-bg::after {
  content: "";
  position: absolute;
  right: -212px;
  bottom: -458px;
  width: 684px;
  height: 684px;
  background: #9cc9da;
  filter: blur(200px);
  border-radius: 50%;
  opacity: 60%;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  max-width: 1184px;
  margin: 0px auto 80px;
}
.section-1 {
  display: flex;
  align-items: center;
  max-width: 1174px;
  margin: 0 auto;
  gap: 64px;
}
.review-btn {
  padding: 20.5px 24px;
  max-width: 380px;
  border: 2px solid #062630;
  border-radius: 8px;
  background-color: #fff5ef;
}
.person-reviews {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.persons img {
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  margin-left: -10px;
}
.persons img:first-child {
  margin-left: 0;
}
.star-icons {
  margin-bottom: 4px;
}
.section-1-right img {
  border-radius: 5px;
  z-index: 2;
}

/* section-2 styles */
.sec-2 {
    padding: 120px;
}
.section-2 {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
}
.section-2-left img {
    border-radius: 15px;
}